<?xml version="1.0" encoding="utf-8"?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Info" throwExceptions="true" throwConfigExceptions="true">
  <extensions>
    <!-- <add assembly="NLog.Extensions" />
        <add assembly="NLog.Targets.ElasticSearch" /> -->
  </extensions>
  <targets>
    <target xsi:type="File" name="targetFileInfo" fileName="${basedir}/logs/log-rabbit-info-${shortdate}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="nested" encode="false">
          <layout type="JsonLayout">
            <attribute name="source" layout="${logger}" />
            <attribute name="message" layout="${message}" />
            <attribute name="exception" layout="${exception}" />
            <attribute name="stackTrace" layout="${stackTrace}" />
          </layout>
        </attribute>
        <attribute name="eventProperties" encode="false">
          <layout type="JsonLayout" includeAllProperties="true" maxRecursionLimit="2" />
        </attribute>
      </layout>
    </target>
    <target xsi:type="File" name="targetFile" fileName="${basedir}/logs/log-rabbit-${shortdate}.json">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="nested" encode="false">
          <layout type="JsonLayout">
            <attribute name="source" layout="${logger}" />
            <attribute name="message" layout="${message}" />
            <attribute name="exception" layout="${exception}" />
            <attribute name="stackTrace" layout="${stackTrace}" />
          </layout>
        </attribute>
        <attribute name="eventProperties" encode="false">
          <layout type="JsonLayout" includeAllProperties="true" maxRecursionLimit="2" />
        </attribute>
      </layout>
    </target>
    <target xsi:type="Console" name="targetConsole" layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <logger name="Microsoft.*" writeTo="blackhole" final="true" />
    <logger name="*" maxlevel="Info" writeTo="targetFileInfo" />
    <logger name="*" minlevel="Error" writeTo="targetFile" />
  </rules>
</nlog>